apiVersion: v1
kind: Service
metadata:
  name: web-service
  namespace: dev
spec:
  selector:
    app: web
    version: web-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
